.testo {
    background:#100720;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#6e00ff 3px solid;
}

.testo h1{
    font-family: Arial;
    font-size: 2cm;
    text-align: right;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
